<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
   Mesmeride is an application to create beautiful maps and elevation 
   profiles for Strava rides, routes and segments. These maps and 
   elevation profiles can be saved as images to print or share on the web. 
 </p>