<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Try <a href='http://twitter.com/mesmeride' target='_blank'>Twitter</a> or <a href='http://facebook.com/mesmeride' target='_blank'>Facebook</a>.  No promises :)
</p>