<% if signed_in? %>
  <div class="center hero-unit">
    <h1>Mesmeride</h1>
    
    <p>Signed in.</p>
    
    <!-- todo: render recent rides -->
    
    <%= link_to "Download Activity", get_activity_path %>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Mesmeride</h1>

    <h2>
      This is the home page for Mesmeride.
    </h2>

    <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
