<div id='canvas_container'>
  <canvas id='surface'></canvas>
</div>
<div id='tools'>
  Route Name: <%= @route.name %>
  # tools: rotate, zoom, template
</div>
<div id='controls'>
  # controls: export-png, canvas-size, 
</div>
<div id='waypoints'>
  # waypoints
</div>
