// Place all the styles related to the Routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html { overflow-y: auto; }
// body { overflow: auto; }

body[data-controller=routes] {

  .navbar-fixed-top .container {
    width: auto;
  }

  .alert {
    position: absolute;
    width: 800px;
    z-index: 10;
  }

  .toolbox {
    border: solid 1px #333333;
    border-radius: 6px;
    padding: 4px;
    background: #eeeeee;
  }

  &, body {
    overflow: hidden;
  }

  .footbox {
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    border-top: solid 1px #333333;
    background: #eeeeee;
    
    & > form {
      margin-bottom: 0;
    }

    h3 {
        background: #333333;
        color: #FFFFFF;
        font-size: 14px;
        margin: 0 -8px 6px;
        padding: 3px 6px;
    }    
    
    div.footdiv {
      display: inline-block;
      height: 160px;
      padding: 0px 8px;
      vertical-align: top;
      border-right: solid 1px #333333;
    }
  }

  #surface-container {
    position: absolute;
    height: 500px;
    width: 100%;
    left: 0;
    top: 50px;
    z-index: 0;
    overflow: auto;
    text-align: center;
  }
  
  #waypoints {
    overflow-y: auto;
    
    input {
      margin-bottom: 0px;
    }
    
    tr.disabled {
      display: none;
    }
    
    .waypoint-distance {
      width: 240px;
      margin: 0 16px;
      
      &[disabled="disabled"] {
        visibility: hidden;
      }
    }
  }
  
  #tools {
    .size-slider {
      width: 120px;
    }
  }

  footer {
    display: none;
  }

  .debug_dump {
    position: fixed;
    display: none;
  }

  #bottom-anchor {
    bottom: 0;
    position: fixed;
    height: 0;
    width: 100%
  }
  
  #jstemplates {
    position: fixed;
    left: -10px;
    top: -10px;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
  }
}