// Place all the styles related to the Routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html { overflow-y: auto; }
// body { overflow: auto; }

body[data-controller=routes] {

  .navbar-fixed-top .container {
    width: auto;
  }

  & > container > .alert {
    position: absolute;
    width: 800px;
    z-index: 10;
  }

  .toolbox {
    border: solid 1px #333333;
    border-radius: 6px;
    padding: 4px;
    background: #eeeeee;
  }

  &, body {
    overflow: hidden;
  }

  .footbox {
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    border-top: solid 1px #333333;
    background: #eeeeee;
    
    & > form {
      margin-bottom: 0;
    }

    h3 {
        background: #333333;
        color: #FFFFFF;
        font-size: 14px;
        margin: 0 -8px 6px -12px;
        padding: 3px 6px;
    }    
    
    div.footdiv {
      display: inline-block;
      height: 160px;
      padding: 0px 8px;
      vertical-align: top;
      border-right: solid 1px #333333;
      
      input,select {
        width: auto;
      }
      
      select {
        padding-top: 3px;
        height: 27px;
        line-height: 27px;
        margin-bottom: 10px;
      }
      
      label {
        display: inline-block;
        vertical-align: top;
        padding-top: 5px;
      }
    
      &.renderer-controls {
        display: none;
    
        &.visible {
          display: inline-block;
        }
      }
    }
  }

  #surface-container {
    position: absolute;
    height: 500px;
    width: 100%;
    left: 0;
    top: 50px;
    z-index: 0;
    overflow: auto;
    text-align: center;
  }
  
  #waypoints {
    overflow-y: auto;
    
    input {
      margin-bottom: 0px;
      width: 100%;
    }
    
    tr.disabled {
      display: none;
    }
    
    .waypoint-distance {
      width: 240px;
      margin: 0 16px;
      
      &[disabled="disabled"] {
        visibility: hidden;
      }
    }
  }
  
  #share-button, #save-button {
    width: 90px;
    margin: 4px 0;
  }
  
  #tools {
    .size-slider {
      width: 120px;
      margin: 0 8px;
    }
  }
  
  #image-assets {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }

  footer {
    display: none;
  }

  .debug_dump {
    position: fixed;
    display: none;
  }

  #bottom-anchor {
    bottom: 0;
    position: fixed;
    height: 0;
    width: 100%
  }
  
  #jstemplates {
    position: fixed;
    left: -10px;
    top: -10px;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
  }

  #save-form #save-thumbs {
  
    height: 240px;
    overflow-x: auto;
    border: solid 1px #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    white-space: nowrap;
    margin-left: 0;
    
    li {
      margin-bottom: 0;
      margin-top: 10px;
      &.deleting {
        background: url('/assets/spinner.gif') no-repeat 48px 48px;
        div.thumbholder {
          visibility: hidden !important;
        }
      }
      & > div {
      
        &:hover {
          border-color: #4444f0;
          box-shadow: 0 0 6px rgba(32, 32, 240, 0.5);
        }
        position: relative;
        & > button.close {
          position: absolute;
          right: 4px;
        }
        & > div.thumbholder {
          height: 150px;
          display: table-cell;
          vertical-align: middle;

          img {
            width: 150px;
          }
        }
        & > div.thumbcommands {
          padding-left: 15px;
        }
      }
      &.loading div {
        background: url('spinner.gif') 48px 64px no-repeat;
        transition: none !important;
        span { 
          display: none !important;
        }
      }
      &#new-thumbnail div {
        text-align: center;
        vertical-align: middle;
        white-space: normal;
        display: table-cell;
        width: 150px;
        height: 194px;
        font-size: 8pt;
        span {
          display: inline-block;
          width: 60%;
          line-height: 1.5em;
          border: solid 1px #cccccc;
          border-radius: 4px;
          cursor: pointer;
          &:hover {
            background: #eeeeee;
          }
        }
      }
      form[method='post'] {
        display: none;
      }
      
      form[method='get'] {
        display: inline-block;
        margin: 0;
        vertical-align: top;
      }
    }
  }
  
  .share-to-blog {
    background: url("/assets/embed.png") no-repeat top left;
    border: none;
    border-radius: 0;
    height: 20px;
    padding: 0;
    vertical-align: top;
    width: 58px;
  }
  
  .share-to-facebook {
    background: url("/assets/fbshare.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    vertical-align: top;
    width: 60px;
    border: none;
  }
  
  .share-download {
    background: url("/assets/download.png") no-repeat top left;
    border: none;
    border-radius: 0;
    height: 20px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 58px;
  }
}