<footer class="footer">
  <small>
    <a href="http://www.mesmeride.com/">Mesmeride</a>
    by <a href='http://marc.durdin.net/' target='_blank'>Marc Durdin</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <!--<li><%= link_to "Contact", contact_path %></li>-->
      <li><a target='_blank' href="http://twitter.com/mesmeride">Twitter</a></li>
      <li><a target='_blank' href="http://facebook.com/mesmeride">Facebook</a></li>
    </ul>
  </nav>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-6824567-3', 'mesmeride.com');
  ga('send', 'pageview');
</script>