<footer class="footer">
  <small>
    <a href="http://www.mesmeride.com/">Mesmeride</a>
    by <a href='http://marc.durdin.net/' target='_blank'>Marc Durdin</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <!--<li><%= link_to "Contact", contact_path %></li>-->
      <li><a target='_blank' href="http://twitter.com/mesmeride">Twitter</a></li>
      <li><a target='_blank' href="http://facebook.com/mesmeride">Facebook</a></li>
    </ul>
  </nav>
</footer>