<footer class="footer">
  <small>
    <a href="http://mesmeride.com/">Mesmeride</a>
    by Marc Durdin
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://twitter.com/mesmeride/">Twitter</a></li>
    </ul>
  </nav>
</footer>